.jumbo {
  background-color: #002f6d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-bottom: 8px solid #55c1e8;
  padding: 0 2rem;
}

.jumbo > h1 {
  font-family: Merriweather, serif;
  font-size: 4rem;
  font-weight: 700;
  color: #fbfbfb;
}

.jumbo > p {
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
  color: #55c1e8;
  font-weight: 700;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 60%;
  margin: 0;
}

.post-body {
  line-height: 2.2rem;
}

.post-body > h2 {
  margin-top: 2.5rem;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 1.1rem;
  }

  .post-body {
    line-height: 1.85rem;
  }

  .content {
    width: calc(100% - 2rem);
    margin: 0 1rem;
  }
}



hr {
  border: 0;
  height: 3px;
  background: #55c1e8;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 1rem;
  background-color: #fbfbfb;
  color: #002f6d;
  border-bottom: 8px solid #55c1e8;
}

.github {
  background: url(/assets/images/github-brands.svg) no-repeat top left;
  background-size: contain;
  display: block;
  height: 2rem;
  width: 2rem;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lt-text {
  color: #97999b;
}

.sm-text {
  font-size: 0.8rem;
}

.post-heading {
  margin: 0;
  padding: 0;
}
